*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 15px 0;
    background-color:#2E3638;
}
body{
    background-color: grey;
}
.medsos ul li{
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
img {
    width: 250px;
    height: 380px;
}
.container::after{
    content: "";
    display: block;
    clear: both;
}
header h1{
    float: left;
    padding: 17px 0;
    color: #2E3638;
}

.title{
    color: var(green);
    border-bottom: 1px solid var );
    
}
header ul{
    float: right;

}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: #2E3638;
    color: #fff;
}
.active{
    background-color: #2E3638;
    color: #fff;
}
.banner{
    height: 60vh;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(62,62,62, .6);
}
.banner h2{
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
section{
    padding: 50px 0;
}
section h3{
    text-align: center;
    padding: 20px 0;
    color: #2E3638;
}
.about p{
    color: #2E3638;
    word-spacing:normal;
}
.contact{
    background-color: #2E3638;
}
footer{
    padding: 30px 0;
    background-color: #2E3638;
    color: #fff;
    text-align: center;
}
.service{
    background-color: #CBC7C7 ;
    text-align: center;
}
.box{
    color: black;
}
.box:after{
    content: " ";
    display: block;
    clear: both;
}
.box .col-4{
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.icon{
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin: 0 auto;
}